{% extends "layout.html" %}
{% block title %}Kalkulator v2{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>    Ekran logowania systemu Kalkulator v2!</h1>
  <p class="important">
   <h2>  <a href="menu_pkw">PKW</a></h2>
   
<h1>Numer okręgu:</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.numer.label }}<br>
            {{ form.numer(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


   <table >
<tr>
      <td>
    <p> Numer okręgu <br> wyborczego </p>
</td>
<td>
    <p> Lokalizacja</p>
</td>
<td>
    <p> Komisarz</p>
</td>
   <tr>
   {% for okreg in okregi %}
    <tr>
      <td>
    <p> {{okreg[0]}}</p>
</td>
<td>
    <p> {{okreg[1]}}</p>
</td>
<td>
    <p> {{okreg[2]}}</p>
</td>
   {% endfor %}
   <tr>
</table>




    Numer Okręgu
    Zaloguj
    Id Członka Komisji
    Zaloguj
    Pierożki


{% endblock %}
    
