{% extends "layout.html" %}
{% block title %}Kalkulator v2{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>    Logowanie PKW </h1>
  <p class="important">
   <h2>  <a href="menu_pkw">PKW</a></h2>
   
<h1>Logowanie komisarza okręgu:</h1>
<table >
<tr>
      <td>
    <p> Numer okręgu <br> wyborczego </p>
</td>
<td>
    <p> Lokalizacja</p>
</td>
<td>
    <p> Komisarz</p>
</td>
   <tr>
   {% for okreg in okregi %}
    <tr>
      <td>
    <p> {{okreg[0]}}</p>
</td>
<td>
    <p> {{okreg[1]}}</p>
</td>
<td>
    <p> {{okreg[2]}}</p>
</td>
   {% endfor %}
   <tr>
</table>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.numer.label }}<br>
            {{ form.numer(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

<h1>Logowanie członka obwodowej komisji wyborczej:</h1>


   <table >
<tr>
      <td>
    <p> ID członka <br> komisji</p>
</td>
<td>
    <p> Imię i nazwisko</p>
</td>
   <tr>
   {% for k in okw %}
    <tr>
      <td>
    <p> <a href="{{url_for('menu_obwod', numer=k[1])}}">{{k[3]}}</a></p>
</td>
<td>
    <p> {{k[4]}} {{k[5]}}</p>
</td>
   {% endfor %}
   <tr>
</table>


{% endblock %}
    
